body{
    background-color:#369;
}
.container{
    text-align: center;
    box-shadow: 2px 3px 10px rgba(0,0,0,0.5)
}
ol {
    width:50%;
    margin: 10px auto;
    box-shadow: 2px 3px 10px rgba(0,0,0,0.5);
    background:green;
    
}
ol li{
    padding: 14px;
    color:orange;
}